$btnColor : royalblue;
$btnHoverColor :  #023e8a;
$linkColor : #4169e1;
$linkHoverColor : #0077b6;
$socialColors: (
    facebook: #3b5999,
    twitter: #55acee,
    instagram: #e4405f,
    youtube: #cd201f,
    telegram: #31a9dd
  );